// Queries
@import "include-media.scss"
// How to use:
// @include media (">=phone" , "<=desktop")
// 'phone': 375px,
// 'tablet': 768px,
// 'laptop': 992px,
// 'desktop': 1250px,
// 'LGdesktop': 1920px, 

//  
// ::::::::::::::::::::::::
// ---> FONTS <---
// ::::::::::::::::::::::::
// 

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap')

// /* 
// ::::::::::::::::::::::::
// ---> GLOBALS <---
// ::::::::::::::::::::::::
//  */

/* Fonts */
$font-primary: 'Raleway', sans-serif
$font-secondary: 'Cinzel', serif
/* Colors */
$color-dark-1: #111111
$color-dark-2: #262626
$color-dark-3: #333333
$color-dark-4: #555555
$color-light-1: #eeece6
$color-light-2: #f2f1ed
$color-light-3: #f7f6f3
$color-light-4: #f1e9db
$color-gray-1: #888888
$color-gray-2: #cccccc
/* XL heading */
$xl-max-font-size: 188
$xl-min-font-size: 54
$xl-line-height: 1.1
$xl-color-light: #eeece6
$xl-color-dark: #333333
/* h1 heading */
$h1-max-font-size: 104
$h1-min-font-size: 35
$h1-line-height: 1.13
$h1-color-light: #eeece6
$h1-color-dark: #333333
/* h2 heading */
$h2-max-font-size: 65
$h2-min-font-size: 31
$h2-line-height: 1.31
$h2-color-light: #eeece6
$h2-color-dark: #333333
/* h3 heading */
$h3-max-font-size: 42
$h3-min-font-size: 24
$h3-line-height: 1.29
$h3-color-light: #eeece6
$h3-color-dark: #333333
/* h4 heading */
$h4-max-font-size: 26
$h4-min-font-size: 22
$h4-line-height: 1.62
$h4-color-light: #ffffff
$h4-color-dark: #262626
/* h5 heading */
$h5-max-font-size: 18
$h5-min-font-size: 1
$h5-line-height: 1.6
$h5-color-light: #ffffff
$h5-color-dark: #262626
/* h6 heading */
$h6-max-font-size: 14
$h6-min-font-size: 14
$h6-line-height: 1.6
$h6-color-light: #ffffff
$h6-color-dark: #262626
/* Blockquote */
$blockquote-max-font-size: 24
$blockquote-min-font-size: 16
$blockquote-line-height: 1.6
$blockquote-color-light: #ffffff
$blockquote-color-dark: #262626
/* Paragraph */
$paragraph-max-font-size: 18
$paragraph-min-font-size: 16
$paragraph-line-height: 1.8
$paragraph-color-light: #cccccc
$paragraph-color-dark: #262626
/* Dropcap */
$dropcap-max-font-size: 110
$dropcap-min-font-size: 60
$dropcap-line-height: 0.7
$dropcap-color-light: #ffffff
$dropcap-color-dark: #111111
/* Fluid paddings & margins (min values) */
$distance-min-xsmall: 30
$distance-min-small: 30
$distance-min-medium: 50
$distance-min-large: 100
$distance-min-xlarge: 160
/* Fluid paddings & margins (max values) */
$distance-max-xsmall: 50
$distance-max-small: 120
$distance-max-normal: 240
$distance-max-large: 360
$distance-max-xlarge: 400
/* Transitions */
$main-trans: 0.3s linear all

*
  margin: 0
  padding: 0
  box-sizing: border-box
  
html 
  font-size: 18px
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility
  -webkit-text-rendering: optimizeLegibility
  -moz-osx-font-smoothing: grayscale
  
body 
  position: relative
  width: 100%
  min-width: 320px
  font-family: $font-primary
  font-size: 100%
  line-height: 2
  color: $paragraph-color-dark
  word-wrap: break-word

.body_lock-scroll 
  overflow: hidden
  position: fixed
  position: -webkit-sticky
  position: sticky
  top: 0
  left: 0
  width: 100%
  height: 100%

img, iframe 
  max-width: 100%
  height: auto

a 
  transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86)
  text-decoration: none
  color: $color-gray-1
a:hover 
  color: $color-gray-2
  text-decoration: none

ul
  list-style: none

/* --------------------------------------------------- */
/* --------------------- MAIN APP -------------------- */
/* --------------------------------------------------- */

/* ======================================================================== */
/* 1.Cursor Follower */
/* ======================================================================== */
.cursor
  z-index: 10000
  border-radius: 50%
  width: 50px
  height: 50px
  border: 1px solid $color-gray-1
  pointer-events: none
  overflow: hidden
  transform: translate3d(0,0,0)
  position: fixed 
  display: none


/* ======================================================================== */
/* 2.Welcome Screen */
/* ======================================================================== */
.preloader 
  display: flex
  align-items: center
  justify-content: center  
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  z-index: 99
  background-color: $color-dark-2
  overflow: hidden
  text-align: center
  .preloader__content 
    position: fixed
    top: 51%
    left: 50%
    width: 100%
    height: 100%
    transform: translate(-50%, -50%)
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    flex-wrap: wrap
    padding: 30px
    
    .preloader-texts
      letter-spacing: 1px
      h2
        color: $color-light-2
        font-family: $font-secondary
        font-size: 1.8rem
        font-weight: 400        
        line-height: 1.3
        margin-bottom: 0.5rem
      p
        font-size: 0.55rem
        font-weight: 700               
        text-transform: uppercase
        color: $color-gray-1
    .preloader__counter      
      color: #fff  
      font-family: $font-secondary
      letter-spacing: 0.9px
      margin-top: 1rem 
    .preloader__circle 
      position: fixed
      top: 50%
      left: 50%
      right: 0
      transform: translate(-50%, -50%)     
      border-radius: 100%
      z-index: 1
      pointer-events: none

/* ======================================================================== */
/* 3.Navbar Component */
/* ======================================================================== */
.navbar-container
  width: 100%
  background: transparent
  margin: 0 auto
  height: 4.5rem
  display: grid
  place-items: center
  position: fixed
  top: 0
  left: 0
  z-index: 1001
  .navbar-center
    width: 90%
    margin: 0 auto
    display: flex
    justify-content: space-between    
    align-items: center    
    .nav-left
      a
        color: #fff 
        font-family: $font-secondary
        font-size: 1.1rem
        font-weight: 700
        line-height: 1.3  
        letter-spacing: 0.7px      
    .nav-right
      cursor: pointer
      transition: $main-trans
      color: #fff 
      margin-top: 0.5rem     
      .fa-bars
        font-size: 1.7rem
      .fa-times
        font-size: 1.9rem

// Light
.nav-left-light
      a
        color: #000
        font-family: $font-secondary
        font-size: 1.1rem
        font-weight: 700
        line-height: 1.3  
        letter-spacing: 0.7px
.nav-right-light
  cursor: pointer
  transition: $main-trans
  color: #000
  margin-top: 0.5rem  
  .fa-bars
    font-size: 1.7rem
  .fa-times
    font-size: 1.9rem      

/* ======================================================================== */
/* 4.Sidebar Component */
/* ======================================================================== */  
.sidebar
  z-index: 100
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background-color: $color-dark-1
  text-align: center
  display: grid
  place-items: center
  padding: 1.2rem
  .sidebar-container
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    width: 100%
    height: 100%
    .side-links
      width: 90%
      margin-top: 4rem
      margin-bottom: 1rem
      ul
        li
          font-family: $font-secondary
          font-size: 2.1rem
          letter-spacing: 1px
          line-height: 1.7
          &:hover
            color: #fff
    .side-widgets
      letter-spacing: 0.6px
      font-size: 0.9rem
      padding-bottom: 3rem    
      font-family: $font-primary  
      .single-widget
        margin: 1.5rem auto
        .widget-title
          font-size: 0.8rem
          text-transform: uppercase          
          color: $h3-color-dark

// Light
.sidebar-light
  z-index: 1000
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background-color: #fff
  text-align: center
  display: grid
  place-items: center
  padding: 1.2rem
  .sidebar-container
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    width: 100%
    height: 100%
    .side-links
      width: 90%
      margin-top: 4rem
      margin-bottom: 1rem
      ul
        li
          font-family: $font-secondary
          font-size: 2.1rem
          letter-spacing: 1px
          line-height: 1.7
          color: $color-dark-4
          &:hover
            color: #000
    .side-widgets
      letter-spacing: 0.6px
      font-size: 0.9rem
      padding-bottom: 3rem    
      font-family: $font-primary  
      .single-widget
        margin: 1.5rem auto        
        .widget-title
          font-size: 0.8rem
          text-transform: uppercase          
          color: $color-dark-4 
        a
          &:hover
            color: $color-dark-2

/* ======================================================================== */
/* 5.Homepage */
/* ======================================================================== */
.home-sect
  text-align: center
  width: 100vw
  height: 100vh
  position: relative
  overflow: hidden !important
  .home-bg
    position: absolute
    top: 0
    left: 0
    margin: auto    
    height: 100%  
    img
      width: 100%
      height: 100%      
      object-fit: cover   
      object-position: center center
  .home-bg-overlay
    z-index: 1
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%   
    background-color: rgba(0, 0, 0, 0.6)
  .home-bg-circle
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)    
    width: calc(100vw + 2.3rem)
    height: calc(100vw + 2.3rem)
    border: 1px solid rgba(128, 128, 128, 0.3)
    border-radius: 100%
    z-index: 2
  .homepage-container
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 5
    color: #fff    
    h6
      font-size: 0.6rem
      font-weight: 700
      letter-spacing: 1.2px
      line-height: 1.3
      text-transform: uppercase
      color: $color-gray-1
    h2
      font-size: 2.2rem
      font-weight: normal
      line-height: $h1-line-height
      color: $h1-color-light
      font-family: $font-secondary
      margin-top: 0.5rem
  .homeCTA
    position: absolute    
    bottom: 4%
    left: 50%    
    transform: translate(-50%, -4%)
    width: auto
    padding-left: 0
    padding-right: 0
    z-index: 5   
    button      
      font-size: 0.6rem
      font-weight: 700
      letter-spacing: 1.2px      
      text-transform: uppercase      
      text-align: center
      transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86)
      cursor: pointer
      outline: none
      border: 2px solid #fff      
      padding: 0.8rem 1.7rem
      border-radius: 64px
      background: white
      color: $color-dark-1  
      .span1
        transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86)

/* ======================================================================== */
/* 6.About Page */
/* ======================================================================== */
.about-sect
  padding-top: 5rem
  width: 100%
  min-height: 100vh
  background-color: #EEECE6
  .about-title
    text-align: center
    margin: 0.7rem 0rem
    h6
      text-transform: uppercase
      font-size: 0.6rem
      font-weight: 700   
      letter-spacing: 1px   
      color: $color-gray-1
      font-family: $font-primary      
    h2
      margin-top: -0.5rem
      font-family: $font-secondary
      font-size: 2.2rem
      font-weight: 500
      color: $h1-color-dark
      letter-spacing: 0.5px
  .aboutImg-container
    width: 100%
    height: 100vh
    position: relative
    img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      object-fit: cover
      object-position: center center
  .division-line
    width: 20%
    height: 1px     
    margin: 3rem auto
    background: $color-dark-4
  .about-text
    width: 90%
    margin: 0 auto
    text-align: center
    font-family: $font-secondary
    font-size: 1.45rem
    line-height: 1.5
    color: $color-dark-4
    padding-bottom: 4rem
    span
      font-weight: 700
    a
      color: #c20000
      letter-spacing: 1.7px


/* ======================================================================== */
/* 7.Reviews Component */
/* ======================================================================== */
.reviews-sect
  background: #fff
  text-align: center
  height: 25vh
  width: 100%
  display: grid
  place-items: center

/* ======================================================================== */
/* 8.Contact Page */
/* ======================================================================== */
.contact-sect
  .contact-img-container
    width: 100%
    height: 100vh
    position: relative
    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: center center
  .contact-data-container
    text-align: left
    background-color: $color-light-1
    height: 18rem
    display: grid
    place-items: center
    .contact-data
      width: 90%
      margin: 0 auto           
      h4
        font-size: 0.7rem
        text-transform: uppercase
        font-weight: 900
        color: $color-dark-4
      a
        font-size: 1rem  
        letter-spacing: 0.8px  
        transition: $main-trans
        &:hover
          color: $color-dark-2
    .cont-social      
      a
        font-size: 2.3rem
        transition: $main-trans
        margin-right: 1rem
  .contact-form-container
    padding: 2rem 0rem
    width: 90%
    margin: 0 auto
    h2
      font-family: $font-secondary
      color: $color-dark-4
      font-weight: 400
      margin-bottom: 1.8rem
      font-size: 1.7rem
    .single-control
      position: relative
      margin: 1.5rem 0rem
      label
        color: $color-gray-1
        font-size: 0.9rem
        font-family: $font-primary
        position: absolute
        left: 0
        bottom: 0.8rem
        pointer-events: none
      input
        border: none
        outline: none
        border-bottom: 1px solid $color-gray-2
        width: 100%
        background: transparent
        z-index: 2
        height: 2.3rem 
        font-size: 1rem
      .textarea-label
        position: absolute
        top: 0
        color: $color-gray-1
        font-size: 0.9rem
        font-family: $font-primary
        pointer-events: none
      textarea
        border: none
        outline: none
        border-bottom: 1px solid $color-gray-2
        width: 100%
        background: transparent
        z-index: 2
        resize: none
    button
      border: none
      background: $color-dark-1
      color: white
      width: 100%
      border-radius: 2rem
      height: 2.3rem
      text-transform: uppercase
      font-family: $font-primary
      font-weight: bolder
      font-size: 0.8rem
      cursor: pointer
      margin-top: 0.7rem
      margin-bottom: 1rem

      



/* ======================================================================== */
/* Works */
/* ======================================================================== */
.works-sect
  background: #F7F6F3
  width: 100%
  .works-title
    width: 92%
    margin: 0 auto
    padding-top: 6rem
    margin-bottom: 3rem
    h1
      padding-bottom: 0.7rem
      font-size: 2rem
      font-family: $font-secondary
      font-weight: normal
      color: $h1-color-dark
      letter-spacing: 1.3px
    .works-underline
      height: 1px
      background: $color-gray-1
      width: 3.5rem
  .single-works-container
    width: 92%
    margin: 0 auto
    padding: 2rem 0rem
    // SINGLE WORK STYLE 1
    .single-work-1
      cursor: pointer
      transition: $main-trans
      margin-bottom: 4rem
      a
        &:hover
          color: initial
      .work-img-container
        width: 100%
        height: 14rem              
        img
          width: 100%
          height: 100%
          object-fit: cover
      .single-work-title
        text-align: right
        margin-top: 0.5rem
        h4
          font-family: $font-secondary
          font-weight: normal
          font-size: 1.8rem          
        .single-work-cta
          font-family: $font-primary
          color: $color-gray-1
          text-transform: uppercase
          font-size: 0.7rem
          font-weight: 700
          margin-top: -2%
          letter-spacing: 0.5px

    // SINGLE WORK STYLE 2
    .single-work-2
      cursor: pointer
      transition: $main-trans
      margin-bottom: 4rem
      a
        &:hover
          color: initial
      .work-img-container
        width: 100%
        height: 20rem              
        img
          width: 100%
          height: 100%
          object-fit: cover
      .single-work-title        
        margin-top: 0rem
        h4
          font-family: $font-secondary
          font-weight: normal
          font-size: 1.8rem
        .single-work-cta
          font-family: $font-primary
          color: $color-gray-1
          text-transform: uppercase
          font-size: 0.7rem
          font-weight: 700
          margin-top: -2%
          letter-spacing: 0.5px   

/* ======================================================================== */
/* Work Details */
/* ======================================================================== */
.wd-sect
  width: 100%    
  background: #F7F6F3
  .wd-title
    text-align: center
    padding-top: 6rem
    padding-bottom: 3rem
    .wd-underline
      height: 1px
      background: $color-gray-1
      width: 3.5rem
      margin: 0 auto
    h2
      font-family: $font-secondary
      font-weight: normal
      font-size: 1.9rem
      margin-bottom: 1.5rem
  .wd-img-container
    width: 100%
    height: 70vh
    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: center center
  .wd-specs
    width: 90%
    margin: 0 auto
    text-align: left
    padding: 2rem 0rem   
    background: #fff 
    .single-spec
      margin-bottom: 1rem    
      h4
        font-family: $font-primary
        font-size: 0.65rem
        text-transform: uppercase
        color: $color-gray-1
      p
        font-size: 1rem
        margin-top: -0.4rem
      a
        color: $color-dark-3
        transition: $main-trans
        font-size: 1.5rem
        &:hover
          color: #000
  .wd-desc
    width: 90%
    margin: 0 auto
    padding-top: 3.2rem
    text-align: center

    .wd-division
      height: 1px
      background: $color-gray-1
      width: 3.5rem
      margin: 0 auto 
      margin-bottom: 1.2rem 
      
    h2
      font-family: $font-secondary
      font-weight: 300
      font-size: 1.8rem
      color: $h2-color-dark
    span
      color: crimson
      font-size: 0.9rem
      text-align: center
  .wd-nextWork
    min-height: 100vh
    display: grid
    place-items: center
    text-align: center
    a
      color: $paragraph-color-light
      &:hover
        color: $color-dark-2
    p
      font-family: $font-primary
      text-transform: uppercase
      font-size: 0.6rem
      font-weight: bold
      margin-bottom: -0.5rem
    span
      font-family: $font-secondary
      font-size: 2rem
      letter-spacing: 1.3px

/* ======================================================================== */
/* Footer Component */
/* ======================================================================== */
.footer-sect
  text-align: center
  .footer-cta
    width: 90%
    margin: 0 auto
    padding-top: 1.2rem
    margin-bottom: 2rem
    h2
      font-family: $font-secondary
      font-size: 1.4rem
      letter-spacing: 0.7px
      margin-bottom: 0.7rem
      color: $h2-color-dark
      font-weight: 500
    button
        font-size: 0.6rem
        border: none
        outline: none
        border-radius: 2rem
        background: #000
        height: 2.2rem
        width: 8rem
        color: white
        font-weight: 700
        letter-spacing: 0.7px
        text-transform: uppercase
        cursor: pointer
  .footer-sitemap
    padding-bottom: 1.5rem
    letter-spacing: 0.6px
    display: inline-block
    font-family: $font-primary
    .sitemap-title
      text-transform: uppercase
      font-size: 1rem
      font-weight: 300
    .sitemap-list
      ul
        a
          font-weight: lighter
          &:hover
            color: $color-dark-3
  .footer-division
    height: 1px
    width: 90%
    background: $color-gray-2
    margin: 0 auto
  .footer-copy
    padding-top: 1.5rem
    padding-bottom: 1rem
    h2
      font-family: $font-secondary
      font-size: 1.15rem
      letter-spacing: 0.7px
      font-weight: bolder
      color: $color-dark-1
    .copy-social
      padding: 0.5rem 0rem
      font-size: 2.2rem
      a
        margin: 0rem 0.5rem
        &:hover
          color: $color-dark-2
    .copy
      font-size: 0.85rem
      letter-spacing: 0.5px
      color: $color-gray-1

        
