/* Fonts */
/* Colors */
/* XL heading */
/* h1 heading */
/* h2 heading */
/* h3 heading */
/* h4 heading */
/* h5 heading */
/* h6 heading */
/* Blockquote */
/* Paragraph */
/* Dropcap */
/* Fluid paddings & margins (min values) */
/* Fluid paddings & margins (max values) */
/* Container & page gutters */
/* preloader circle */
/* Transitions */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale; }

body {
  position: relative;
  width: 100%;
  min-width: 320px;
  font-family: "Raleway", sans-serif;
  font-size: 100%;
  line-height: 2;
  color: #262626;
  word-wrap: break-word; }

.body_lock-scroll {
  overflow: hidden;
  position: fixed;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

img, iframe {
  max-width: 100%;
  height: auto; }

a {
  transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  text-decoration: none;
  color: #888888; }

a:hover {
  color: #cccccc;
  text-decoration: none; }

.page-wrapper__content {
  position: relative;
  overflow: hidden;
  z-index: 50; }

/* --------------------------------------------------- */
/* --------------------- MAIN APP -------------------- */
/* --------------------------------------------------- */
/*  ::::: Welcome Page :::::  */
/*  ::::: Error Page :::::  */
/*  ::::: Navbar Component :::::  */
.navbar-container {
  width: 100%;
  background: transparent;
  margin: 0 auto;
  height: 4.5rem;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500; }
  .navbar-container .navbar-center {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .navbar-container .navbar-center .nav-left a {
      color: #fff;
      font-family: "Cinzel", serif;
      font-size: 1.1rem;
      font-weight: bold;
      line-height: 1.3;
      letter-spacing: 1px; }
    .navbar-container .navbar-center .nav-right {
      cursor: pointer;
      transition: 0.3s linear all;
      color: #fff;
      margin-top: 0.5rem; }
      .navbar-container .navbar-center .nav-right .fa-bars {
        font-size: 1.7rem; }
      .navbar-container .navbar-center .nav-right .fa-times {
        font-size: 1.9rem; }

/*  ::::: Home Page :::::  */
.home-sect {
  text-align: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden !important; }
  .home-sect .home-bg {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    height: 100%; }
    .home-sect .home-bg img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center; }
  .home-sect .home-bg-overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); }
  .home-sect .home-bg-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100vw + 2.3rem);
    height: calc(100vw + 2.3rem);
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 100%;
    z-index: 2; }
  .home-sect .homepage-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    color: #fff;
    margin-left: calc($gutter-horizontal * 2);
    margin-right: calc($gutter-horizontal * 2); }
    .home-sect .homepage-container h6 {
      font-size: 0.6rem;
      font-weight: 700;
      letter-spacing: 1.2px;
      line-height: 1.3;
      text-transform: uppercase;
      color: #888888; }
    .home-sect .homepage-container h2 {
      font-size: 2.2rem;
      font-weight: normal;
      line-height: 1.13;
      color: #eeece6;
      font-family: "Cinzel", serif;
      margin-top: 0.5rem; }
  .home-sect .homeCTA {
    position: absolute;
    bottom: 4%;
    transform: translateY(-4%);
    width: auto;
    padding-left: 0;
    padding-right: 0;
    left: 120px;
    right: 120px;
    z-index: 5; }
    .home-sect .homeCTA button {
      font-size: 0.6rem;
      font-weight: 700;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      text-align: center;
      transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      cursor: pointer;
      outline: none;
      border: 2px solid #fff;
      padding: 0.8rem 1.7rem;
      border-radius: 64px;
      background: transparent;
      color: #fff; }
      .home-sect .homeCTA button .span2 {
        display: none;
        transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
      .home-sect .homeCTA button .span1 {
        display: block;
        transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
      .home-sect .homeCTA button:hover .span1 {
        opacity: 0; }

/*  ::::: About Page :::::  */
.about-title {
  text-align: center; }
  .about-title subtitle {
    font-family: "Cinzel", serif; }

/*  ::::: Loading Page :::::  */
/*  ::::: Loading Page :::::  */
/*  ::::: Loading Page :::::  */
/*  ::::: Loading Page :::::  */
/*  ::::: Loading Page :::::  */
/*  ::::: Loading Page :::::  */

/*# sourceMappingURL=index.css.map */
