// Queries
@import "include-media.scss"
// How to use:
// @include media (">=phone" , "<=desktop")
// 'phone': 375px,
// 'tablet': 768px,
// 'laptop': 992px,
// 'desktop': 1250px,
// 'LGdesktop': 1920px, 

//  
// ::::::::::::::::::::::::
// ---> FONTS <---
// ::::::::::::::::::::::::
// 

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap')

// /* 
// ::::::::::::::::::::::::
// ---> GLOBALS <---
// ::::::::::::::::::::::::
//  */

/* Fonts */
$font-primary: 'Raleway', sans-serif
$font-secondary: 'Cinzel', serif
/* Colors */
$color-dark-1: #111111
$color-dark-2: #262626
$color-dark-3: #333333
$color-dark-4: #555555
$color-light-1: #eeece6
$color-light-2: #f2f1ed
$color-light-3: #f7f6f3
$color-light-4: #f1e9db
$color-gray-1: #888888
$color-gray-2: #cccccc
/* XL heading */
$xl-max-font-size: 188
$xl-min-font-size: 54
$xl-line-height: 1.1
$xl-color-light: #eeece6
$xl-color-dark: #333333
/* h1 heading */
$h1-max-font-size: 104
$h1-min-font-size: 35
$h1-line-height: 1.13
$h1-color-light: #eeece6
$h1-color-dark: #333333
/* h2 heading */
$h2-max-font-size: 65
$h2-min-font-size: 31
$h2-line-height: 1.31
$h2-color-light: #eeece6
$h2-color-dark: #333333
/* h3 heading */
$h3-max-font-size: 42
$h3-min-font-size: 24
$h3-line-height: 1.29
$h3-color-light: #eeece6
$h3-color-dark: #333333
/* h4 heading */
$h4-max-font-size: 26
$h4-min-font-size: 22
$h4-line-height: 1.62
$h4-color-light: #ffffff
$h4-color-dark: #262626
/* h5 heading */
$h5-max-font-size: 18
$h5-min-font-size: 1
$h5-line-height: 1.6
$h5-color-light: #ffffff
$h5-color-dark: #262626
/* h6 heading */
$h6-max-font-size: 14
$h6-min-font-size: 14
$h6-line-height: 1.6
$h6-color-light: #ffffff
$h6-color-dark: #262626
/* Blockquote */
$blockquote-max-font-size: 24
$blockquote-min-font-size: 16
$blockquote-line-height: 1.6
$blockquote-color-light: #ffffff
$blockquote-color-dark: #262626
/* Paragraph */
$paragraph-max-font-size: 18
$paragraph-min-font-size: 16
$paragraph-line-height: 1.8
$paragraph-color-light: #cccccc
$paragraph-color-dark: #262626
/* Dropcap */
$dropcap-max-font-size: 110
$dropcap-min-font-size: 60
$dropcap-line-height: 0.7
$dropcap-color-light: #ffffff
$dropcap-color-dark: #111111
/* Fluid paddings & margins (min values) */
$distance-min-xsmall: 30
$distance-min-small: 30
$distance-min-medium: 50
$distance-min-large: 100
$distance-min-xlarge: 160
/* Fluid paddings & margins (max values) */
$distance-max-xsmall: 50
$distance-max-small: 120
$distance-max-normal: 240
$distance-max-large: 360
$distance-max-xlarge: 400
/* Transitions */
$main-trans: 0.3s linear all

*
  margin: 0
  padding: 0
  box-sizing: border-box
  
html 
  font-size: 18px
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility
  -webkit-text-rendering: optimizeLegibility
  -moz-osx-font-smoothing: grayscale
  
body 
  position: relative
  width: 100%
  min-width: 320px
  font-family: $font-primary
  font-size: 100%
  line-height: 2
  color: $paragraph-color-dark
  word-wrap: break-word

.body_lock-scroll 
  overflow: hidden
  position: fixed
  position: -webkit-sticky
  position: sticky
  top: 0
  left: 0
  width: 100%
  height: 100%

img, iframe 
  max-width: 100%
  height: auto

a 
  transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86)
  text-decoration: none
  color: $color-gray-1
a:hover 
  color: $color-gray-2
  text-decoration: none

ul
  list-style: none

/* --------------------------------------------------- */
/* --------------------- MAIN APP -------------------- */
/* --------------------------------------------------- */

/* ======================================================================== */
/* 1.Cursor Follower */
/* ======================================================================== */
.cursor
  z-index: 10000
  border-radius: 50%
  width: 50px
  height: 50px
  border: 1px solid $color-gray-1
  pointer-events: none
  overflow: hidden
  transform: translate3d(0,0,0)
  position: fixed 
  display: none
  @include media (">=laptop")
    display: block

/* ======================================================================== */
/* 2.Welcome Screen */
/* ======================================================================== */
.preloader 
  display: flex
  align-items: center
  justify-content: center  
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100vh
  z-index: 5000
  background-color: $color-dark-2
  overflow: hidden
  text-align: center
  .preloader__content 
    position: fixed
    top: 51%
    left: 50%
    width: 100%
    height: 100%
    transform: translate(-50%, -50%)
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    flex-wrap: wrap
    padding: 30px    
    .preloader-texts
      letter-spacing: 1px
      h2
        color: $color-light-2
        font-family: $font-secondary
        font-size: 1.8rem
        font-weight: 400        
        line-height: 1.3
        margin-bottom: 0.5rem
        @include media (">=laptop")
          font-size: 2.2rem        
        @include media (">=desktop")
          font-size: 2.8rem
        
      p
        font-size: 0.55rem
        font-weight: 700               
        text-transform: uppercase
        color: $color-gray-1
        letter-spacing: 1.2px
/* ======================================================================== */
/* 3.Navbar Component */
/* ======================================================================== */
.navbar-container
  width: 100%
  background: transparent
  margin: 0 auto
  height: 4.5rem
  display: grid
  place-items: center
  position: fixed
  top: 0
  left: 0
  z-index: 1001
  padding-top: 1rem
  @include media (">=laptop")
    height: 6.5rem
  @include media (">=desktop")
    height: 8rem
  .navbar-center
    width: 90%
    margin: 0 auto
    display: flex
    justify-content: space-between    
    align-items: center  
    @include media (">=laptop")  
      width: 88%
    .nav-left     
      a
        color: #fff 
        font-family: $font-secondary
        font-size: 1.1rem
        font-weight: 700
        line-height: 1.3  
        letter-spacing: 0.7px 
          
  .burger-menu
    width: 35px
    height: 18px
    position: relative  
    vertical-align: middle   
    cursor: pointer
    @include media (">=laptop")
      width: 45px
      height: 22px
    .b-line
      height: 2px
      width: 100%
      background: #fff
      position: absolute
      transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86)
      @include media (">=laptop")
        height: 3px
      &:nth-of-type(1)
        top: 0
        left: 0
        transform-origin: right center
        transform: scaleX(0.75)
      &:nth-of-type(2)
        top: 8.5px
        right: 0          
        transform-origin: left center    
        margin: auto   
        @include media (">=laptop")
          top: 9.5px
      &:nth-of-type(3)
        bottom: 0
        left: 0
        transform-origin: right center
        transform: scaleX(0.75)
    &:hover 
      .b-line
        &:nth-of-type(1)
          transform: scaleX(1)
        &:nth-of-type(2)
          transform: scaleX(0.75)
        &:nth-of-type(3)
          transform: scaleX(1)
  .burger-open   
    .b-line
      background: $color-gray-1
      width: 80%
      margin: 0 auto
      &:nth-of-type(1)
        transform: scaleX(1) rotate(57deg) translate(9px, 19px)
      &:nth-of-type(2)
        transform: scaleX(0)
      &:nth-of-type(3)
        transform: scaleX(1) rotate(-55deg) translate( 12px, -22px)
      @include media (">=laptop")
        &:nth-of-type(1)
          transform: scaleX(1) rotate(57deg) translate(16px, 17px)
        &:nth-of-type(3)
          transform: scaleX(1) rotate(-55deg) translate(19px, -22px)
    &:hover
      .b-line
        background: #fff
          


// Light
.nav-left-light
      a
        color: #000
        font-family: $font-secondary
        font-size: 1.1rem
        font-weight: 700
        line-height: 1.3  
        letter-spacing: 0.7px
.nav-right-light
  cursor: pointer
  transition: $main-trans
  color: #000 
  .burger-menu
    width: 35px
    height: 18px
    position: relative  
    vertical-align: middle 
    @include media (">=laptop")
      width: 45px
      height: 22px   
    .b-line
      height: 2px
      width: 100%
      background: #000
      position: absolute
      transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86)
      @include media (">=laptop")
        height: 3px
      &:nth-of-type(1)
        top: 0
        left: 0
        transform-origin: right center
        transform: scaleX(0.75)
      &:nth-of-type(2)
        top: 8.5px
        right: 0          
        transform-origin: left center    
        margin: auto
        @include media (">=laptop")
          top: 9.5px  
      &:nth-of-type(3)
        bottom: 0
        left: 0
        transform-origin: right center
        transform: scaleX(0.75)
    &:hover 
      .b-line
        &:nth-of-type(1)
          transform: scaleX(1)
        &:nth-of-type(2)
          transform: scaleX(0.75)
        &:nth-of-type(3)
          transform: scaleX(1)
  .burger-open    
    .b-line
      background: $color-gray-1
      width: 80%
      margin: 0 auto
      &:nth-of-type(1)
        transform: scaleX(1) rotate(57deg) translate(9px, 19px)
      &:nth-of-type(2)
        transform: scaleX(0)
      &:nth-of-type(3)
        transform: scaleX(1) rotate(-55deg) translate( 12px, -22px)
      @include media (">=laptop")
        &:nth-of-type(1)
          transform: scaleX(1) rotate(57deg) translate(16px, 17px)
        &:nth-of-type(3)
          transform: scaleX(1) rotate(-55deg) translate( 19px, -22px)
    &:hover
      .b-line
        background: #000

// Scrolled
.navbar-container.scrolled
  background: white
  height: 5rem
  box-shadow: 0px 0px 12px #bababa7c

/* ======================================================================== */
/* 4.Sidebar Component */
/* ======================================================================== */  
.sidebar
  z-index: 100
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background-color: $color-dark-1
  text-align: center
  display: grid
  place-items: center
  padding: 1.2rem
  .sidebar-container
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    width: 100%
    height: 100%
    @include media (">=desktop")
      flex-direction: row         
    .side-links
      width: 90%
      margin-top: 4rem
      margin-bottom: 1rem
      @include media (">=desktop")        
        flex: 0  
        text-align: left
        position: absolute
        left: 5%
        top: 18%
      ul
        li
          font-family: $font-secondary
          font-size: 2.1rem
          letter-spacing: 1px
          line-height: 1.7
          &:hover
            color: #fff
          @include media (">=desktop")
            font-size: 2.7rem
    .side-widgets
      letter-spacing: 0.6px
      font-size: 0.9rem
      padding-bottom: 3rem    
      font-family: $font-primary
      @include media (">=desktop")        
        width: 70%
        display: flex
        position: absolute
        bottom: 5%
        right: 0%
        justify-content: space-around
        align-items: right  
      .single-widget
        margin: 1.5rem auto
        .widget-title
          font-size: 0.8rem
          text-transform: uppercase          
          color: $h3-color-dark

// Light
.sidebar-light
  z-index: 1000
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background-color: #fff
  text-align: center
  display: grid
  place-items: center
  padding: 1.2rem
  .sidebar-container
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    width: 100%
    height: 100%
    @include media (">=desktop")
      flex-direction: row   
    .side-links
      width: 90%
      margin-top: 4rem
      margin-bottom: 1rem
      @include media (">=desktop")        
        flex: 0  
        text-align: left
        position: absolute
        left: 5%
        top: 18%
      ul
        li
          font-family: $font-secondary
          font-size: 2.1rem
          letter-spacing: 1px
          line-height: 1.7
          color: $color-dark-4
          &:hover
            color: #000
          @include media (">=desktop")
            font-size: 2.7rem
    .side-widgets
      letter-spacing: 0.6px
      font-size: 0.9rem
      padding-bottom: 3rem    
      font-family: $font-primary 
      @include media (">=desktop")        
        width: 70%
        display: flex
        position: absolute
        bottom: 5%
        right: 0%
        justify-content: space-around
        align-items: right  
      .single-widget
        margin: 1.5rem auto        
        .widget-title
          font-size: 0.8rem
          text-transform: uppercase          
          color: $color-dark-4 
        a
          &:hover
            color: $color-dark-2

/* ======================================================================== */
/* 5.Homepage */
/* ======================================================================== */
.home-sect
  text-align: center
  width: 100vw
  height: 100vh
  position: relative
  top: 0
  overflow: hidden !important
  .home-bg
    position: absolute
    top: 0
    left: 0
    margin: auto    
    height: 100%  
    img
      width: 100%
      height: 100%      
      object-fit: cover   
      object-position: center center
  .home-bg-overlay
    z-index: 1
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%   
    background-color: rgba(0, 0, 0, 0.6)
  .home-bg-circle
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)    
    width: calc(100vw + 2.3rem)
    height: calc(100vw + 2.3rem)
    border: 1px solid rgba(128, 128, 128, 0.3)
    border-radius: 100%
    z-index: 2
    @include media (">=laptop")
      width: 75vw
      height: 75vw
    @include media (">=desktop")
      width: 80vw
      height: 80vw
  .homepage-container
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 5
    color: #fff    
    h6
      font-size: 0.6rem
      font-weight: 700
      letter-spacing: 1.2px
      line-height: 1.3
      text-transform: uppercase
      color: $color-gray-1
      @include media (">=tablet")
        font-size: 0.8rem
      @include media (">=laptop")
        font-size: 1rem
      @include media (">=desktop")
        font-size: 1rem
    h2
      font-size: 2.2rem
      font-weight: normal
      line-height: $h1-line-height
      color: $h1-color-light
      font-family: $font-secondary
      margin-top: 0.5rem
      @include media (">=tablet")
        font-size: 2.5rem
      @include media (">=laptop")
        font-size: 2.8rem
      @include media (">=desktop")
        font-size: 3.5rem

  .homeCTA
    position: absolute    
    bottom: 4%
    left: 50%    
    transform: translate(-50%, -4%)
    width: auto
    padding-left: 0
    padding-right: 0
    z-index: 5
    button      
      font-size: 0.6rem
      font-weight: 700
      letter-spacing: 1.2px      
      text-transform: uppercase      
      text-align: center
      transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86)
      cursor: pointer
      outline: none
      border: 2px solid #fff      
      padding: 0.8rem 1.7rem
      border-radius: 64px
      background: white
      color: $color-dark-1  
      .span1
        transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86)
      @include media (">=desktop")
        font-size: 0.8rem

/* ======================================================================== */
/* 6.About Page */
/* ======================================================================== */
.about-sect
  padding-top: 25%
  width: 100%
  min-height: 100vh
  background-color: #EEECE6
  @include media (">=tablet")
    padding-top: 20%
  @include media (">=laptop")
    padding-top: 0

    // Bigger Size Screens
  .about-widescreen-container
    display: none    
    @include media (">=laptop")
      display: flex
      align-items: center
      justify-content: space-between      
      .about-title-w
        width: 50% 
        height: 100vh       
        text-align: right
        display: grid
        place-items: center 
        position: relative 
        @include media (">=desktop")      
          right: -5%
        h6
          text-transform: uppercase
          font-size: 1rem
          font-weight: 700   
          letter-spacing: 1px   
          color: $color-gray-1
          font-family: $font-primary
        h2
          margin-top: -0.5rem
          font-family: $font-secondary
          font-size: 3rem
          font-weight: 300
          color: $h1-color-dark
          letter-spacing: 0.5px
        .about-scroll-down
          position: absolute
          bottom: 15%
          right: 10%
          @include media (">=desktop")
            right: 20%
      .aboutImg-container-w
        width: 50%
        height: 105vh
        position: relative        
        background: white
        img
          position: absolute
          top: 55%
          left: 50%
          transform: translate(-50%,-57%)
          width: 90%
          height: 76%
          object-fit: cover
          object-position: center center
          @include media (">=desktop")
            width: 80%
      // END Bigger Size Screens

  .about-title
    text-align: center
    margin: 0.7rem 0rem
    @include media (">=tablet")
      margin: 1rem 0rem
    @include media (">=laptop")
      display: none
    h6
      text-transform: uppercase
      font-size: 0.6rem
      font-weight: 700   
      letter-spacing: 1px   
      color: $color-gray-1
      font-family: $font-primary 
      @include media (">=tablet")
        font-size: 0.8rem   
    h2
      margin-top: -0.5rem
      font-family: $font-secondary
      font-size: 2.2rem
      font-weight: 500
      color: $h1-color-dark
      letter-spacing: 0.5px
      @include media (">=tablet")
        font-size: 2.5rem
  .aboutImg-container
    width: 100%
    height: 100vh
    position: relative
    margin-bottom: 5rem
    @include media (">=laptop")
      display: none
    img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      object-fit: cover
      object-position: center center

  // About Info
  .division-line
    width: 20%
    height: 1px     
    margin: 0 auto   
    margin-bottom: 5rem
    background: $color-dark-4
    @include media (">=laptop")
      margin-top: 15%
      margin-bottom: 10%
      width: 10%
  .about-text
    width: 90%
    margin: 0 auto
    text-align: center
    font-family: $font-secondary
    font-size: 1.45rem
    line-height: 1.5
    color: $color-dark-3
    padding-bottom: 5rem
    font-weight: 200
    @include media (">=tablet")
      font-size: 1.6rem
      padding-bottom: 7rem
    @include media (">=laptop")
      width: 65%
      font-size: 1.8rem
    span
      font-weight: 700
    a
      color: #c20000
      letter-spacing: 1.7px

/* ======================================================================== */
/* 7.Reviews Component */
/* ======================================================================== */
.reviews-sect
  background: #fff
  text-align: center
  height: 25vh
  width: 100%
  display: grid
  place-items: center

/* ======================================================================== */
/* 8.Contact Page */
/* ======================================================================== */
.contact-sect
  @include media (">=laptop")
    display: flex
    height: 100vh
    width: 100%
  // IMG Mobile
  .contact-img-container
    width: 100%
    height: 100vh
    position: relative    
    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: center center
    @include media (">=laptop")
      display: none
  // End IMG Mobile

  // Contact Data
  .contact-data-container
    text-align: left
    background-color: $color-light-1
    padding: 2rem 0rem
    display: grid
    place-items: center
    @include media (">=tablet")
      padding: 3rem 0rem
    @include media (">=laptop")
      height: 100%
      width: 45%
      .screen-data-center        
        text-align: right
        position: relative
        top: 25%
    @include media (">=desktop")
      width: 35%
    @include media (">=LGdesktop")
      width: 25%
    .contact-data
      width: 100%
      margin: 0 auto 
      margin-bottom: 1rem
      @include media (">=laptop")          
        width: 100%
        margin-bottom: 2rem
      h4
        font-size: 0.7rem
        text-transform: uppercase
        font-weight: 900
        color: $color-dark-4
        @include media (">=tablet")
          font-size: 1rem
      a
        font-size: 1rem  
        letter-spacing: 0.8px  
        transition: $main-trans
        white-space: nowrap
        @include media (">=tablet")
          font-size: 1.3rem
        @include media (">=laptop")
          font-size: 1rem
        &:hover
          color: $color-dark-2
    .cont-social      
      a
        font-size: 2.3rem
        transition: $main-trans
        margin-right: 1rem
        @include media (">=tablet")
          font-size: 3rem

  // Img Screens
  .contact-img-container-screens
    display: none
    @include media (">=laptop")
      display: block
      width: 45%
      height: 100%
      img
        height: 100%
        width: 100%
        object-position: center center
        object-fit: cover
  // End IMG Screens  

  // Form
  .contact-form-container
    padding: 2rem 0rem
    width: 90%
    margin: 0 auto
    @include media (">=tablet")
      padding: 3rem 0rem
    @include media (">=laptop")
      height: 100%
      width: 45%
      margin: 0 auto
      position: relative
      @include media(">=LGdesktop")
        width: 25%
      .screen-form-center 
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        width: 90%
        margin: 0 auto
    h2
      font-family: $font-secondary
      color: $color-dark-4
      font-weight: 400
      margin-bottom: 1.8rem
      font-size: 1.7rem
      @include media (">=tablet")
        font-size: 2rem
    .single-control
      position: relative
      margin: 1.5rem 0rem
      label
        color: $color-gray-1
        font-size: 0.9rem
        font-family: $font-primary
        position: absolute
        left: 0
        bottom: 0.8rem
        pointer-events: none
        @include media (">=tablet")
          font-size: 1.1rem
      input
        border: none
        outline: none
        border-bottom: 1px solid $color-gray-2
        width: 100%
        background: transparent
        z-index: 2
        height: 2.3rem 
        font-size: 1rem
        @include media (">=tablet") 
          font-size: 1.1rem
      .textarea-label
        position: absolute
        top: 0
        color: $color-gray-1
        font-size: 0.9rem
        font-family: $font-primary
        pointer-events: none
        @include media (">=tablet")
          font-size: 1.1rem
      textarea
        border: none
        outline: none
        border-bottom: 1px solid $color-gray-2
        width: 100%
        background: transparent
        z-index: 2
        resize: none
    button
      border: none
      background: $color-dark-1
      color: white
      width: 100%
      border-radius: 2rem
      height: 2.3rem
      text-transform: uppercase
      font-family: $font-primary
      font-weight: bolder
      font-size: 0.8rem
      cursor: pointer
      margin-top: 0.7rem
      margin-bottom: 1rem
      @include media (">=tablet")
        font-size: 1rem
        height: 2.6rem

/* ======================================================================== */
/* Works */
/* ======================================================================== */
.works-sect
  background: #F7F6F3
  width: 100%
  .works-title
    width: 92%
    margin: 0 auto
    padding-top: 25%
    margin-bottom: 3rem
    @include media (">=tablet")
      padding-top: 20%
    h1
      padding-bottom: 0.7rem
      font-size: 2rem
      font-family: $font-secondary
      font-weight: normal
      color: $h1-color-dark
      letter-spacing: 1.3px
      @include media (">=tablet")
        font-size: 2.5rem      
      @include media (">=desktop")
        font-size: 3rem
    .works-underline
      height: 1px
      background: $color-gray-1
      width: 3.5rem
  .single-works-container
    width: 92%
    margin: 0 auto
    padding: 2rem 0rem
    @include media (">=laptop")
      width: 88%
      margin-left: 8%

    // SINGLE WORK STYLE 1
    .single-work-1
      cursor: pointer
      transition: $main-trans
      margin-bottom: 20%
      a
        @include media (">=laptop")
          display: flex
          flex-direction: row-reverse
          align-items: center
        &:hover
          color: initial
      .work-img-container
        width: 100%
        height: 14rem    
        @include media (">=tablet")          
          height: 50vh
        @include media (">=laptop")
          width: 70%
          height: 45vh
        @include media (">=desktop")
          height: 55vh
        @include media (">=LGdesktop")
          height: 65vh
        img
          width: 100%
          height: 100%
          object-fit: cover
      .single-work-title
        text-align: right
        margin-top: 0.5rem
        color: $color-dark-3        
        @include media (">=laptop")
          margin-right: 2rem
        h4
          font-family: $font-secondary
          font-weight: normal
          font-size: 1.8rem   
          @include media (">=tablet")       
            font-size: 2.2rem
          @include media (">=laptop")
            font-size: 2.5rem
            line-height: 1.3            
        .single-work-cta
          font-family: $font-primary
          color: $color-gray-1
          text-transform: uppercase
          font-size: 0.7rem
          font-weight: 700
          margin-top: -2%
          letter-spacing: 0.5px
          @include media (">=tablet")
            margin-top: -1%
            font-size: 0.75rem

    // SINGLE WORK STYLE 2
    .single-work-2
      cursor: pointer
      transition: $main-trans
      margin-bottom: 20%
      @include media(">=laptop")
        margin-left: 12%
      a
        @include media (">=laptop")
          display: flex
          align-items: center
        &:hover
          color: initial
      .work-img-container
        width: 100%
        height: 20rem  
        @include media (">=tablet")            
          height: 70vh
        @include media (">=laptop")
          height: 40vh
          width: 55%
        @include media (">=desktop")
          height: 65vh
        @include media (">=LGdesktop")
          height: 75vh
          width: 50%
        img
          width: 100%
          height: 100%
          object-fit: cover
      .single-work-title        
        margin-top: 0rem
        @include media (">=laptop")
          margin-left: 2rem
        h4
          font-family: $font-secondary
          font-weight: normal
          font-size: 1.8rem
          color: $color-dark-3
          @include media (">=tablet")
            font-size: 2.2rem
          @include media (">=laptop")
            font-size: 2.5rem
            line-height: 1.3
        .single-work-cta
          font-family: $font-primary
          color: $color-gray-1
          text-transform: uppercase
          font-size: 0.7rem
          font-weight: 700
          margin-top: -2%
          letter-spacing: 0.5px 
          @include media (">=tablet")
            font-size: 0.75rem
            margin-top: -1%

/* ======================================================================== */
/* Work Details */
/* ======================================================================== */
.wd-sect
  width: 100%    
  background: #F7F6F3
  .wd-title
    text-align: center
    padding-top: 6rem
    padding-bottom: 3rem
    @include media (">=tablet")
      padding-top: 20%
    .wd-underline
      height: 1px
      background: $color-gray-1
      width: 3.5rem
      margin: 0 auto
    h2
      font-family: $font-secondary
      font-weight: normal
      font-size: 1.9rem
      margin-bottom: 1.5rem
      @include media (">=tablet")
        font-size: 2.3rem
  .wd-img-container
    width: 100%
    height: 70vh
    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: center center
  .wd-specs
    text-align: left
    padding: 2rem 0rem   
    background: #fff
    @include media (">=laptop")
      padding: 6rem 0rem
    .wd-specs-center
      width: 90%
      margin: 0 auto
      @include media (">=tablet")
        display: grid
        grid-template-rows: 1fr 1fr
        grid-template-columns: 1fr 1fr
        align-items: center
      @include media (">=laptop")
        display: flex
        justify-content: space-around
      .single-spec
        margin-bottom: 1rem   
        font-family: $font-primary
        font-size: 0.65rem
        text-transform: uppercase
        color: $color-gray-1
        @include media (">=laptop")
          font-size: 1rem
        p
          font-size: 1rem
          margin-top: -0.4rem
          text-transform: capitalize  
          @include media (">=laptop")        
            font-size: 1.2rem
        a
          color: $color-dark-3
          transition: $main-trans
          font-size: 1.3rem
          text-transform: capitalize
          &:hover
            color: #000
  .wd-desc
    width: 90%
    margin: 0 auto
    padding-top: 3.2rem
    text-align: center
    @include media (">=tablet")
      padding-top: 7%
      width: 85% 
    @include media (">=laptop")
      width: 75%
    .wd-division
      height: 1px
      background: $color-gray-2
      width: 3.5rem
      margin: 0 auto      
      margin-bottom: 5%
    h2
      font-family: $font-secondary
      font-weight: 300
      font-size: 2rem
      color: $h2-color-dark      
      @include media (">=tablet")
        font-size: 2.3rem
      @include media (">=laptop")
        font-size: 2.5rem
    p
      font-size: 1rem
      @include media (">=tablet")
        font-size: 1.3rem
      @include media (">=laptop")
        font-size: 1.5rem
    span
      color: crimson
      text-align: center
      font-size: 1rem
      @include media (">=tablet")
        font-size: 1.3rem
      @include media (">=laptop")
        font-size: 1.5rem
  .wd-nextWork
    min-height: 100vh
    display: grid
    place-items: center
    text-align: center
    a
      color: $paragraph-color-light
      &:hover
        color: $color-dark-2
    p
      font-family: $font-primary
      text-transform: uppercase
      font-size: 0.6rem
      font-weight: bold
      margin-bottom: -0.5rem
    span
      font-family: $font-secondary
      font-size: 2rem
      letter-spacing: 1.3px

/* ======================================================================== */
/* Footer Component */
/* ======================================================================== */
.footer-sect
  text-align: center
  .footer-header
    .footer-cta
      margin: 0 auto
      padding-top: 1.2rem
      margin-bottom: 2rem
      h2
        font-family: $font-secondary
        font-size: 1.4rem
        letter-spacing: 0.7px
        margin-bottom: 0.7rem
        color: $h2-color-dark
        font-weight: 500
      button
          font-size: 0.6rem
          border: none
          outline: none
          border-radius: 2rem
          background: #000
          height: 2.2rem
          width: 8rem
          color: white
          font-weight: 700
          letter-spacing: 0.7px
          text-transform: uppercase
          cursor: pointer
    .footer-sitemap
      padding-bottom: 1.5rem
      letter-spacing: 0.6px
      display: inline-block
      font-family: $font-primary
      @include media (">=laptop")
        padding-bottom: 0
      .sitemap-title
        text-transform: uppercase
        font-size: 1rem
        font-weight: 300
        @include media (">=laptop")
          font-size: 1.3rem
          font-weight: 400
      .sitemap-list
        ul
          a
            font-weight: normal
            color: $color-gray-1            
            &:hover
              color: #000

  .footer-division
    height: 1px
    width: 90%
    background: $color-gray-2
    margin: 0 auto
  .footer-copy
    padding-top: 1.5rem
    padding-bottom: 1rem
    h2
      font-family: $font-secondary
      font-size: 1.15rem
      letter-spacing: 0.7px
      font-weight: bolder
      color: $color-dark-1
    .copy-social
      padding: 0.5rem 0rem
      font-size: 2.2rem
      a
        margin: 0rem 0.5rem
        &:hover
          color: $color-dark-2
    .copy
      font-size: 0.85rem
      letter-spacing: 0.5px
      color: $color-gray-1
  @include media (">=laptop")
    .footer-header
      width: 80%
      display: flex
      align-items: center
      justify-content: space-between 
      padding: 3rem 0rem 
      position: relative
      margin: 0 auto
      @include media (">=desktop")
        width: 67%
      .footer-cta
        width: 50%
        margin: 0  
        padding-top: 0      
        h2  
          font-size: 1.9rem


